<!DOCTYPE html>
<header>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{title}}</title>
</header>
<body>
    {{>header}}
    {{desc}}
</body>
<footer>
    {{>footer}}
</footer>