<!DOCTYPE html>
<head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{title}}</title>
</head>
<body>
    {{>header}}
    <h1>{{desc}}</h1>
    <img src="/img/messi-fcb.jpg">
    <p>This is a pictoure of messi but it has nothing to do with the weather app.</p>
    <p>This is a dummy website where you can get the weather of any location.</p>
    <p>We have used mapbox api and weatherstack api for this project.</p>
</body>
<footer>
    {{>footer}}
</footer>
</html>