<!DOCTYPE html>
<head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{title}}</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h2>{{desc}}</h2>
        <p>Enter location of any part of the world. Our website will extract the weather forecast of that location.</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>
    <script src="js/app.js"></script>
</body>
<footer>
    {{>footer}}
</footer>
</html>